{% ckan_extends %}

{% block package_additional_info %}

    {% if pkg_dict.organization %}
        <tr>
           <th scope="row" class="dataset-label">{{ _("Organization") }}</th>
           <td class="dataset-details" property="dc:creator">{{ pkg_dict.organization.title }}</td>
        </tr>
    {% endif %}

    {% if pkg_dict.maintainer %}
        <tr>
           <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
           <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
        </tr>
    {% endif %}

    {% if pkg_dict.author %}
        <tr>
           <th scope="row" class="dataset-label">{{ _("Author") }}</th>
           <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
        </tr>
    {% endif %}

    {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created") }}</th>
            <td class="dataset-details">{{ h.bodik_theme_render_datetime(pkg_dict.metadata_created, date_format='%Y-%m-%d %H:%M', with_hours=True) }}</td>
          </tr>
    {% endif %}

    {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
            {% if extra[1] != "" %}
              <tr rel="dc:relation" resource="_:extra{{ i }}">
                <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
                <td class="dataset-details" property="rdf:value">{{ _(value) }}</td>
              </tr>
            {% endif %}
          {% endfor %}
    {% endblock %}

    {% if pkg_dict.url %}
        <tr>
           <th scope="row" class="dataset-label">{{ _('Source') }}</th>
    {% if h.is_url(pkg_dict.url) %}
           <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
    {% else %}
            <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
    {% endif %}
        </tr>
    {% endif %}

{% endblock %}
